@using System;
@using System.Collections;

@page "/list"

<div class="list-box">
    <h1>@Title</h1>
    <ul>
        @foreach (var listItem in listItems) {
            <li>@listItem.Content</li>
        }
    </ul>

    <input placeholder="..." bind="@newItem" />
    <button class="add-item" onclick="@AddItem"><span>+</span></button>
</div>

@functions {
    [Parameter]
    private string Title { get; set; }
    
    private string newItem;

    private IList<ListItem> listItems = new List<ListItem>();

    
    private void AddItem()
    {
        if (!string.IsNullOrWhiteSpace(newItem))
        {
            listItems.Add(new ListItem { Content = newItem });
            newItem = string.Empty;
        }
    }
}